/* Empty. Add your own CSS if you like */

/* CSS for images.html */

#container{
	position: relative;
	width: 100%;
	height: 200px;
}

#image_container{
	width: 100%;
	height: 100%;
	background: black;
}

#overlay_circle_container{
	position: absolute;
	top: 2%;
	left: 2%;
	width: 50%;
	height: 35%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: green;
}

#profile_pic {
	border-radius: 50%;
	width: 90%;
	height: 90%;
}


