<ion-modal-view class="backgroundGradient">
    <ion-header-bar class="bar bar-header barOrange">
        <h1 class="title vantageHeader" style="font-size:1.6em">Change Password</h1>
        <button class="button button-clear button-dark" ng-click="modalPassword.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding" scroll="false">
        <div class="list">
            <label class="item item-input">
                <input class="vantageBody" style="font-style:italic; text-align:center" ng-model="oldPassword" type="password" placeholder="Old Password">
            </label>
            <label class="item item-input">
                <input class="vantageBody" style="font-style:italic; text-align:center" ng-model="newPassword" type="password" placeholder="New Password">
            </label>
            <label class="item item-input">
                <input class="vantageBody" style="font-style:italic; text-align:center" ng-model="confirmNewPassword" type="password" placeholder="Confirm New Password">
            </label>
            <button class="button button-block buttonOrange vantageHeader" ng-click="changePassword( oldPassword, newPassword, confirmNewPassword)">Change!</button>
        </div>
    </ion-content>
</ion-modal-view>