<!--Basic PhotoZoom for settings feature, going to apply to all photos next"-->
<ion-modal-view >
  <ion-header-bar class="bar bar-header bar-positive">
	<button class="button button-clear button-primary" ng-click="modalPhotoZoom.hide()">Cancel</button>
  </ion-header-bar>
  <div class="item item-image">
	<ion-scroll zooming="true" direction="xy" scrollbar-x="false" scrollbar-y="false" min-zoom="1" id="scrolly"  style="width: 100%; height: 100%;">
	  <img style="width: 100%; height:100%" ng-src="./././img/blank-profile.png" ng-if="userData.profilePicture === '' " />
	  <img style="width:100%; height:100%" ng-src="{{userData.profilePicture}}" ng-if="userData.profilePicture !== '' "/>
	</ion-scroll>
  </div>
</ion-modal-view>

