<ion-view view-title="My Settings">
  	<ion-content>
    	<div class="list card">

		  	<a class="item item-icon-left energized" ng-click="modalDisplayName.show()" style="text-align:center">
			  	<i class="icon ion-ios-person"></i>	
			  	{{userData.displayName}} (Edit)
			  </a>

		  	<a class="item item-icon-left energized" ng-click="modalEmail.show()" style="text-align:center">
			  	<i class="icon ion-ios-email"></i>
			    {{userData.email}} (Edit)
			  </a>


			<div class="item item-image">
			  	<br/>
					<!-- Displays Profile Pic if not null --> 
	    		<img style="width:250px; height:300px" ng-src="{{userData.profilePicture}}" ng-if="userData.profilePicture !== '' " />

	    		<!-- Else display blank profile pic -->
	    		<img style="width:250px; height:300px" ng-src="./././img/blank-profile.png" ng-if="userData.profilePicture === '' " />
	    		
	    		<div class="button-bar">
		            <button class="button button-clear icon ion-camera" ng-click="changeProfilePicture(0)">
		            </button>
		            <button class="button button-clear icon ion-images" ng-click="changeProfilePicture(1)">     
   		            </button>
		            <button class="button button-clear icon ion-android-remove-circle" ng-click="modalremoveConfirm.show()" ng-if="userData.profilePicture !== '' "> 
		            </button>
		        </div>
			</div>


		  	<br />

  		  	<a class="item item-icon-left energized" ng-click="modalPassword.show()">
  		  		<i class="icon ion-locked"></i>
			    Change Password
		  	</a>

		</div>
		<button class="button button-full button-assertive" ng-click="logout()">Logout</button>
  	</ion-content>
</ion-view>