<ion-view class="backgroundGradient">
  	<ion-nav-bar class="barOrange">
	  	<ion-nav-buttons side="right">
			<button class="button button-clear" style="color:white; font-family: 'CenturyGothic', sans-serif;" ng-click="logout()">Logout</button>
		</ion-nav-buttons>
		<ion-nav-title class="vantageHeader">
			My Settings
		</ion-nav-title>
  	</ion-nav-bar>
  	<ion-content class="has-header">
    	<div class="list card">

		  	<a class="item item-icon-left vantageBody" ng-click="modalDisplayName.show()" style="text-align:center">
			  	<i class="icon ion-ios-person"></i>	
			  	{{userData.displayName}} (Edit)
			  </a>

		  	<a class="item item-icon-left vantageBody" ng-click="modalEmail.show()" style="text-align:center">
			  	<i class="icon ion-ios-email"></i>
			    {{userData.email}} (Edit)
			  </a>

  		  	<a class="item item-icon-left vantageBody" ng-click="modalPassword.show()" style="text-align:center">
  		  		<i class="icon ion-locked"></i>
			    Change Password
		  	</a>

			<div class="item item-image">
			  	<br/>
				<!-- Displays Profile Pic if not null --> 
	    		<img style="width:250px; height:300px" ng-src="{{userData.profilePicture}}" ng-click="modalPhotoZoom.show()" ng-if="userData.profilePicture !== '' " />
	    		<!-- Else display blank profile pic -->
	    		<img style="width:250px; height:300px" ng-src="./././img/blank-profile.png" ng-click="modalPhotoZoom.show()" ng-if="userData.profilePicture === '' " />
	    		
	    		<div class="button-bar">
		            <button class="button button-clear icon ion-camera" ng-click="changeProfilePicture(0)">
		            </button>
		            <button class="button button-clear icon ion-images" ng-click="changeProfilePicture(1)">     
   		            </button>
		            <button class="button button-clear icon ion-android-remove-circle" ng-click="removeProfilePicture()" ng-if="userData.profilePicture !== '' "> 
		            </button>
		        </div>
			</div>
		</div>

  	</ion-content>
</ion-view>
