<ion-view class="backgroundGradient" view-title="Login" np-app="starter">
    <ion-content class="padding">
        <!-- <div class="list"> -->
            <!-- Logo here -->
        <!-- </div> -->

        <div class="fullView verticalCenter">
            <h1 class="vantageFontOrange" style="font-size:5em">Vantage</h1>

            <div style="margin-left:10%; margin-right:10%">
                <div class="list card padding">
                    <label class="item item-input">
                        <input class="vantageBody" type="email" ng-model="username" placeholder="Email" style="text-align:center; font-style:italic;">
                    </label>
                    <label class="item item-input">
                        <input class="vantageBody" type="password" ng-model="password" placeholder="Password" style="text-align:center; font-style:italic;">
                    </label>
                </div>

                <button ng-click="login(username, password)" class="button button-block buttonOrange vantageHeader">
                    Log In
                </button>

                <div class="list" style="text-align:center">
                    <button ng-click="modalRegister.show()" class="button button-small button-outline icon-left ion-person-add buttonGrey">
                        Create New Account
                    </button>
                    <button ng-click="modalRecoverPassword.show()" class="button button-small button-outline icon-left ion-android-sync buttonGrey">
                        Forgot Password?
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

