<ion-view class="backgroundGradient">
  <ion-header-bar class="bar bar-header barOrange">
    <h1 class="title vantageHeader" style="font-size: 2em">Create Event</h1>

    <div class="buttons">
      <button class="button button-clear button-dark" style="font-family: 'CenturyGothic', sans-serif;" ng-click="goBack()">Back</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="padding-left padding-right">

    	<label class="item item-input" style="background-color:transparent;">
        <input ng-model="eventName" class="vantageBody" style="font-style:italic; text-align:center;color:white" type="text" placeholder="Event Name" />
      </label>

    	<label class="item item-input" style="background-color:transparent;">
      	<input ng-model="password" class="vantageBody" style="font-style:italic; text-align:center;color:white;" type="password" placeholder="Event Password" />
    	</label>

    	<label class="item item-input" style="background-color:transparent;">
      	<input ng-model="confirmPassword" class="vantageBody" style="font-style:italic; text-align:center;color:white" type="password" placeholder="Confirm Event Password" />
    	</label>

      <div class="item item-image" style="background-color:transparent;">
          <br/>
          <div class="item energized" style="background-color:transparent;">
            <p class="vantageBody" style="font-style:italic; text-align:center;color:white ">Choose Cover Photo (Optional)<p>
            <br />
            <img style="width:100px; height:100px" ng-src="./././img/blank-coverphoto.png" ng-if="eventCoverPhoto === '' ">
            <img style="width:100px; height:100px" ng-src="{{eventCoverPhoto}}" ng-if="eventCoverPhoto !== '' ">
          </div>
          <div class="button-bar">
            <button class="button button-clear button-dark icon ion-camera" ng-click="takeCoverPhoto(0)">
            </button>
            <button class="button button-clear button-dark icon ion-images" ng-click="takeCoverPhoto(1)">     
            </button>
              </div>
        </div>
      <br></br>

    	<button class="button button-block buttonOrange vantageHeader" style="font-size:1.6em" ng-click="createEvent(eventName, password, confirmPassword)">Create Event
      </button>
    </div>
  </ion-content>
</ion-view>
