<ion-header-bar>
  <h1 class="title">Create Event</h1>

  <div class="buttons">
    <button class="button button-assertive" ng-click="goBack()">Back</button>
  </div>
</ion-header-bar>
<ion-content>
  <div class="padding-left padding-right">

  	<label class="item item-input">
      <input ng-model="eventName" type="text" placeholder="Event Name" />
    </label>

  	<label class="item item-input">
    	<input ng-model="password" type="password" placeholder="Event Password" />
  	</label>

  	<label class="item item-input">
    	<input ng-model="confirmPassword" type="password" placeholder="Confirm Event Password" />
  	</label>

    <div class="item item-image">
        <br/>
        <div class="item energized">
          Choose Cover Photo (Optional)
          <br />
          <img style="width:100px; height:100px" ng-src="./././img/blank-coverphoto.png" ng-if="eventCoverPhoto === '' ">
          <img style="width:100px; height:100px" ng-src="{{eventCoverPhoto}}" ng-if="eventCoverPhoto !== '' ">
        </div>
        <div class="button-bar">
          <button class="button button-clear icon ion-camera" ng-click="takeCoverPhoto(0)">
          </button>
          <button class="button button-clear icon ion-images" ng-click="takeCoverPhoto(1)">     
          </button>
            </div>
      </div>
    <br></br>

  	<div class="button-bar">
      <a class="button" ng-click="createEvent(eventName, password, confirmPassword)">Create Event</a>
    </div>
  </div>
</ion-content>
