<ion-view class="backgroundGradient">
  <ion-nav-bar class="barOrange">
    <ion-nav-title class="vantageHeader">
    Events
  </ion-nav-title>
  </ion-nav-bar>
  <div class="bar bar-subheader" style="background: none">
    <div class="button-bar">
      <a class="button buttonGrey vantageFontOrange" style="font-size: 1.6em" href="#/createEvent">Create Event</a>
      <a class="button buttonGrey vantageFontOrange" style="font-size: 1.6em" href="#/joinEvent">Join Event</a>
    </div>
  </div>

  <ion-content class="has-subheader" padding="true">

    <div class="list">

      <a class="button button-bar item-stable vantageBody" ng-click="toggleGroup(hostedEvents)" ng-class="{active: isGroupShown(hostedEvents)}">
        <i class="icon" ng-class="isGroupShown(hostedEvents) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Hosted Events
        &nbsp;
        <div>
          <span class="badge orangeBadge">
            {{hostedEvents.eventIDs.length}}</span>
        </div>
      </a>
      <div class="item-accordion vantageBody" ng-repeat="eventID in hostedEvents.eventIDs" ng-show="isGroupShown(hostedEvents)" ng-if="eventData[eventID] !== undefined">
        <ion-list can-swipe="true">
          <ion-item class="item-thumbnail-left" href="" ng-click="goToEvent(eventID)">
            <img src={{getCoverPhoto(eventData[eventID].coverPhoto)}}>
            <h2 >{{eventData[eventID].Name}}</h2>
            <p>Host</p>
            <p ng-if="eventData[eventID].Active === 1">Active</p>
            <ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeEvent(eventID)"></ion-option-button>
          </ion-item>
        </ion-list>
      </div>

      <br />
      
      <a class="button button-bar item-stable vantageBody" ng-click="toggleGroup(joinedEvents)" ng-class="{active: isGroupShown(joinedEvents)}">
        <i class="icon" ng-class="isGroupShown(joinedEvents) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Joined Events
        &nbsp;
        <div>
          <span class="badge orangeBadge">
            {{joinedEvents.eventIDs.length}}</span>
        </div>
      </a>
      <div class="item-accordion" ng-repeat="eventID in joinedEvents.eventIDs" ng-show="isGroupShown(joinedEvents)" ng-if="eventData[eventID] !== undefined">
        <ion-list can-swipe="true">
          <ion-item class="item item-thumbnail-left" href="" ng-click="goToEvent(eventID)">
            <img src={{getCoverPhoto(eventData[eventID].coverPhoto)}}>
            <h2>{{eventData[eventID].Name}}</h2>
            <p>Host:{{eventData[eventID].HostEmail}}</p>
            <p ng-if="eventData[eventID].Active === 1">Active</p>
            <ion-option-button class="button-assertive icon ion-trash-a" ng-click="leaveEvent(eventID)"></ion-option-button>
          </ion-item>
        </ion-list>
      </div>
      
      <br />

      <a class="button button-bar item-stable vantageBody" ng-click="toggleGroup(pendingEvents)" ng-class="{active: isGroupShown(pendingEvents)}">
        <i class="icon" ng-class="isGroupShown(pendingEvents) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Pending Events
        &nbsp;
        <div>
          <span class="badge orangeBadge">
            {{pendingEvents.eventIDs.length}}</span>
        </div>
      </a>
      <div class="item-accordion" ng-repeat="eventID in pendingEvents.eventIDs" ng-show="isGroupShown(pendingEvents)" ng-if="eventData[eventID] !== undefined">
        <div class="item item-thumbnail-left">
          <img src={{getCoverPhoto(eventData[eventID].coverPhoto)}}>
          <h2>{{eventData[eventID].Name}}</h2>
          <p>Invited by {{eventData[eventID].HostEmail}}</p>
          <p ng-if="eventData[eventID].Active === 1">Active</p>
          <div class="button-bar">
          <button class="button button-small button-balanced" ng-click="joinEvent(eventID)">Accept
          </button>
          <button class="button button-small button-assertive" ng-click="rejectEvent(eventID)">Decline
          </button>
          </div>
        </div>
      </div>
    
    </div>
  </ion-content>
</ion-view>