<ion-view view-title="Events Menu">
  <ion-nav-bar>
  </ion-nav-bar>
  <div class="bar bar-subheader">
  	<div class="button-bar">
      <a class="button button-energized" href="#/createEvent">Create</a>
      <a class="button button-energized" href="#/joinEvent">Join</a>
    </div>
  </div>

  <ion-content class="has-subheader has-tabs" padding="true">

    <div class="list">
      <a class="button button-bar item-stable" ng-click="toggleGroup(hostedEvents)" ng-class="{active: isGroupShown(hostedEvents)}">
        <i class="icon" ng-class="isGroupShown(hostedEvents) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Hosted Events
        &nbsp;
        <span class="badge badge-positive">
          {{hostedEvents.events.length}}</span>
      </a>
      <div class="item-accordion" ng-repeat="event in hostedEvents.events" ng-show="isGroupShown(hostedEvents)">
        <a class="item item-thumbnail-left" href="" ng-click="goToEvent(event)">
          <img src={{event.coverPhoto}} ng-if="event.coverPhoto !== '' ">
          <img ng-src="./././img/blank-coverphoto.png" ng-if="event.coverPhoto === '' ">
          <h2>{{event.Name}}</h2>
          <p>Host</p>
          <p ng-if="event.Active === 1">Active</p>
        </a>
      </div>

      <br />
      
      <a class="button button-bar item-stable" ng-click="toggleGroup(joinedEvents)" ng-class="{active: isGroupShown(joinedEvents)}">
        <i class="icon" ng-class="isGroupShown(joinedEvents) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Joined Events
        &nbsp;
        <span class="badge badge-positive">
          {{joinedEvents.events.length}}</span>
      </a>
      <div class="item-accordion" ng-repeat="event in joinedEvents.events" ng-show="isGroupShown(joinedEvents)">
        <a class="item item-thumbnail-left" href="" ng-click="goToEvent(event)">
          <img src={{event.coverPhoto}} ng-if="event.coverPhoto !== '' ">
          <img ng-src="./././img/blank-coverphoto.png" ng-if="event.coverPhoto === '' ">
          <h2>{{event.Name}}</h2>
          <p>Host:{{event.HostEmail}}</p>
          <p ng-if="event.Active === 1">Active</p>
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>