<ion-view view-title="{{eventData.Name}} ({{images.length}} Pictures)" init="">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-large button-icon icon ion-arrow-left-a" ng-click="goBack()"></button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<div class="bar bar-subheader" ng-if="isHost()">
		<div class="button-bar">
	        <button ng-click="endEvent()" class="button button-assertive" ng-if="eventActive == 1">
	            End Event
	        </button>
	        <button ng-click="reactivateEvent()" class="button button-balanced" ng-if="eventActive == 0">
	            Reactivate Event
	        </button>
	    </div>
    </div>

	<ion-content ng-class="{'has-subheader': isHost(), 'has-footer':true}" has-bouncing="true">
		
		<div class="square" style="border-style: dotted;">
			<div class="content">
				<div class="button half" ng-click="upload(0)">
					<div class="table">
						<div class="table-cell">
							<button class="button button-small button-icon icon ion-camera"></button>
						</div>
					</div>
				</div>
				<div class="button half" ng-click="upload(1)">
					<div class="table">
						<div class="table-cell">
							<button class="button button-small button-icon icon ion-images" ></button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<a class="square" ng-repeat="image in images" style="background-image:url({{image.image}})" href="" ng-click="viewPhoto(image, $index)"></a>

	</ion-content>

	<div class="bar bar-footer has-tabs">
		<div class="button-bar">
			<button class="button button-clear icon ion-information-circled" ng-click="eventInfo()">
			</button> 
			<button class="button button-clear icon ion-android-contacts" ng-click="eventUserList()"> 
			</button>

<!--   			<button ng-click="filter(userEmail, timeLower, timeUpper)">Filter</button> -->
			<button class = "button button-clear icon ion-android-radio-button-on" ng-click="modalFilterInput.show()">
			</button>
  			<button class = "button button-clear icon ion-android-radio-button-off" ng-click="unfilter()"></button>
    
		</div>
	</div>
</ion-view>