<ion-view view-title="Friends">
  <ion-nav-bar>
  </ion-nav-bar>

  <ion-content class="has-header has-tabs" padding="true">
    <h1 ng-if="friendsIDArr.length === 0 ">No Friends Yet</h1>
    <ion-list>
      <ion-item class="item item-avatar" ng-repeat="fUID in friendsIDArr | orderBy:'-name' " ng-if="friendData[fUID] !== undefined ">

        <img src={{getFriendProfilePicture(friendData[fUID].profilePicture)}} ng-click="viewProfile(friendData[fUID])" />

        <h2>{{friendData[fUID].displayName}}</h2>
        
        <p>
          <i class="icon ion-email"></i>
          {{friendData[fUID].email}}
        </p>

        <p>
          <i class="{{getStatusIcon(friendData[fUID].status)}}"></i>
          {{friendData[fUID].status}}
        </p>
        
        <button ng-if="friendData[fUID].status === 'pending' " ng-click="add(friendData[fUID])">  Accept Friend Request
        </button>

        <p class="item-icon-right">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </p>
        
        <ion-option-button class="button-assertive" ng-click="delete(friendData[fUID])">Delete
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>