<ion-view class="backgroundGradient">
  <ion-header-bar class="bar bar-header barOrange">
    <h1 class="title vantageHeader" style="font-size:2em;">Add User to Event</h1>
    <button class="button button-clear button-dark" style="font-family: 'CenturyGothic', sans-serif;"ng-click="goBack()">Cancel</button>
  </ion-header-bar class="has-header padding">
  <ion-content>
  	<div class="padding-left padding-right">
    	<<label class="item item-input" style="background-color:transparent;" >
      	<input ng-model="userEmail" class="vantageBody" style="font-style:italic; text-align:center; color:white" type="email" placeholder="User's Email" />
    	</label>
      
      <button class="button button-block buttonOrange vantageHeader" style="font-size:1.6em" ng-click="addUser(userEmail)">Add User</button>
    </div>
  </ion-content>
</ion-view>