<ion-view view-title="Login" np-app="starter">
    <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Vantage</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <!-- Logo here -->
        </div>
        <div class="list card padding">
            <label class="item item-input">
                <input type="text" ng-model="username" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="password" placeholder="Password">
            </label>
            <button ng-click="login(username, password)" class="button button-block button-positive activated">
                Log In
            </button>
        </div>
        <div class="list" style="text-align:center">
            <button ng-click="modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive">
                Create New Account
            </button>
        </div>
    </ion-content>
</ion-view>

