<ion-tabs class="tabs-stable tabs-icon-only tabs-orange">
  
    <!-- Friends Tab -->
  <ion-tab icon-off="ion-ios-people-outline" icon-on="ion-ios-people light" href="#/app/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>
  <!-- Events Tab -->
  <ion-tab icon-off="ion-android-star-outline" icon-on="ion-android-star light" href="#/app/eventsMenu">
    <ion-nav-view name="tab-eventsMenu"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab icon-off="ion-ios-contact-outline" icon-on="ion-ios-contact light" href="#/app/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
