<ion-pane>
	<ion-header-bar>
		<h1 class="title">{{currIndex + 1}} / {{photosArr.length}}</h1>

		<div class="buttons">
			<button class="button button-assertive" ng-click="close()">Close</button>
		</div>
	</ion-header-bar>

	<br />
	<br />

	<div class="padding">
		<div class="list card" on-swipe-left="swipedLeft()" on-swipe-right="swipedRight()">

		  <div class="item item-avatar">
		    <img src="data:image/jpg;base64,{{userData.profilePicture}}">
		    <h2>{{userData.displayName}}</h2>
		    <p>{{photoContent.time}}</p>
		  </div>

		  <div class="item item-image" >
		    <img ng-src="data:image/jpg;base64,{{photoContent.image}}" style="width:350px;height:400px" />
		  </div>

		</div>
	</div>
</ion-pane>