<ion-header-bar>
	<h1 class="title">{{currIndex + 1}} / {{photosArr.length}}</h1>

	<div class="buttons">
		<button class="button button-assertive" ng-click="close()">Close</button>
	</div>
</ion-header-bar>

<ion-content class="has-header">
	<div class="padding">

		<ion-slide-box ng-if="photosArr" on-slide-changed="photoChanged($index)" active-slide="activePhoto" show-pager="false">

			<ion-slide ng-repeat="photo in photosArr">
				<a href="" ng-click="viewProfile(photo.userInfo)">
					<div class="item item-avatar">
		    			<img src="{{photo.userInfo.profilePicture}}" ng-if="photo.userInfo.profilePicture !== '' ">
				    	<img src="./img/blank-profile.png" ng-if="photo.userInfo.profilePicture === '' "/>
				    	
				    	<h2>{{photo.userInfo.displayName}}</h2>
				    	<p>{{photo.time}}</p>
				  	</div>
			  	</a>

			 	<div class="item item-image" >
		    		<img ng-src="{{photo.image}}" style="width:350px;height:400px" />
			  	</div>

			  	<div class="item tabs tabs-secondary tabs-icon-left">
		  			<a class="tab-item" href="" ng-click="like(photo)">
		  				<i class="{{getLikeIcon(photo)}}"></i>
		  				# {{photo.numLikes}}
		  			</a>
		  	</div>
			</ion-slide>
			
		</ion-slide-box>

	</div>

</ion-content>