<ion-content>
	<ion-header-bar>
		<h1 class="title">{{currIndex + 1}} / {{photosArr.length}}</h1>

		<div class="buttons">
			<button class="button button-assertive" ng-click="close()">Close</button>
		</div>
	</ion-header-bar>

	<br />
	<br />

	<div class="padding">

		<ion-slide-box ng-if="photosArr" on-slide-changed="photoChanged($index)" active-slide="activePhoto" show-pager="false">

			<ion-slide ng-repeat="photo in photosArr" >
				<div class="item item-avatar">
		    		<img src="{{userData.profilePicture}}" ng-if="userData.profilePicture !== '' ">
			    	<img ng-src="./img/blank-profile.png" ng-if="userData.profilePicture === '' " />
			    	<h2>{{userData.displayName}}</h2>
			    	<p>{{photo.time}}</p>
			  	</div>

			 	<div class="item item-image" >
		    		<img ng-src="{{photo.image}}" style="width:350px;height:400px" />
			  	</div>

			</ion-slide>
		</ion-slide-box>

	</div>

	<div class="bar bar-footer">
		<div class="title button-clear button-icon icon ion-arrow-swap"></div>
	</div>
</ion-content>