<ion-view view-title="My Profile">
  	<ion-content>
    	<div class="list card">

		  <div class="item item-avatar">
		    <h1 style="text-align:center">{{userData.displayName}}</h1>
		    <h3 style="text-align:center">{{userData.email}}</h3>
		  </div>

		  <div class="item item-image">
		  	<br/>
		    <img style="width:250px; height:300px" src="/img/profile-pic.jpg">
		  </div>
		  <br />
			  <a class="item item-icon-left energized" ng-click="modalDisplayName.show()">
			  	<i class="icon ion-ios-person"></i>
			    Change Display Name
			  </a>
			  <a class="item item-icon-left energized" ng-click="modalEmail.show()">
			  	<i class="icon ion-ios-email"></i>
			    Change Email
			  </a>
	  		  <a class="item item-icon-left energized" ng-click="modalPassword.show()">
	  		  	<i class="icon ion-locked"></i>
			    Change Password
			  </a>

		</div>
  	</ion-content>
  	<div class="bar bar-footer">
  		<button class="button button-full button-assertive" ng-click="logout()">Logout</button>
  	</div>
</ion-view>