<ion-view view-title="My Profile">
  	<ion-content>
    	<div class="list card">

		  <div class="item item-avatar">
		    <h1 style="text-align:center">User name</h1>
		  </div>

		  <div class="item item-image">
		  	<br/>
		    <img style="width:250px; height:300px" src="/img/profile-pic.jpg">
		  </div>
		  <br />
		  <div class="button-bar">
			  <a class="button icon-left ion-ios-person button-energized" ng-click="changeDisplayName()">
			    Change Display Name
			  </a>
			  <a class="button icon-left ion-ios-email button-energized" ng-click="changeEmail()">
			    Change Email
			  </a>
	  		  <a class="button icon-left ion-locked button-energized" ng-click="changePassword()">
			    Change Password
			  </a>
		</div>

		</div>
  	</ion-content>
  	<div class="bar bar-footer">
  		<button class="button button-full button-assertive" ng-click="logout()">Logout</button>
  	</div>
</ion-view>