<ion-view view-title="My Profile">
  	<ion-content>
    	<div class="list card">

		  <div class="item item-avatar">
		    <h1 style="text-align:center">User name</h1>
		  </div>

		  <div class="item item-image">
		  	<p>Profile Picture here</p>
		    <img src="/img/ionic.png">
		  </div>

		  <a class="item item-icon-left energized" href="#">
		    <i class="icon ion-ios-person"></i>
		    Change User name
		  </a>
		  <a class="item item-icon-left energized" href="#">
		    <i class="icon ion-ios-email"></i>
		    Change Email
		  </a>
  		  <a class="item item-icon-left energized" href="#">
		    <i class="icon ion-locked"></i>
		    Change Password
		  </a>

		</div>
  	</ion-content>
  	<div class="bar bar-footer">
  		<button class="button button-full button-assertive" ng-click="logout()">Logout</button>
  	</div>
</ion-view>