<ion-view view-title="Photo Content">
  <ion-content>

	<div class="list card">

		  <div class="item item-avatar">
		    <input ng-model="displayName" type="text" placeholder="Display Name">
		  </div>

		  <div class="item item-image">
		  	<br/>
		    <a class="item energized" ng-click="modalChooseProfilePic.show()">
		    	Choose Profile Picture (Optional)
		    	<br />
		    	<img style="width:250px; height:300px" ng-src="./img/blank-profile.png" ng-if="profilePic === '' ">
		    	<img style="width:250px; height:300px" ng-src="data:image/jpg;base64,{{profilePic}}" ng-if="profilePic !== '' ">
		    </a>
		  </div>
	</div>

    <button class="button button-full button-positive" ng-click="submit(displayName)">Done!</button>

  </ion-content>
</ion-view>