<ion-header-bar>
  <h1 class="title">Attendees</h1>

  <div class="buttons">
    <button class="button button-assertive" ng-click="goBack()">Back</button>
  </div>
</ion-header-bar>

 <div class="bar bar-subheader" ng-if="isHost()">
  <div class="button-bar">
    <a class="button button-positive" href="" ng-click="modalInviteFriends.show()">
      Invite Friends
    </a>
    <a class="button button-calm" href="">
      Invite By Email
    </a>
  </div>
</div>

<ion-content ng-class="{'has-subheader': isHost(), 'has-header': isHost() === false}">
  
  <div class="list">
    
    <a class="item item-thumbnail-left" href="" ng-click="viewProfile(host)">
      <img src={{getProfilePicture(host.profilePicture)}} >      
      <h2> 
        <i class="icon ion-ios-star positive"></i>
        {{host.displayName}}
      </h2>
      <p>
        <i class="icon ion-email"></i>
        {{host.email}}
      </p>
    </a>
    
    <a class="item item-thumbnail-left" href="" ng-click="viewProfile(user)" ng-repeat="user in usersData">
      <img src={{getProfilePicture(user.profilePicture)}} >
      <h2>{{user.displayName}}</h2>
      <p>
        <i class="icon ion-email"></i>
        {{user.email}}
      </p>
    </a>
</ion-content>

