<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{photoContent.displayName}}'s Profile</h1>
        <button class="button button-clear button-primary" ng-click="modalviewProfile.hide()">Cancel</button>
    </ion-header-bar>
  	<ion-content class="has-header">	
    	<div class="list card">
    		<h1 style="text-align:center">
			  	{{photoContent.displayName}}
			</h1>

			<div class="item item-image">
					<!-- Displays Profile Pic if not null --> 
	    		<img style="width:250px; height:300px" ng-src="{{photoContent.profilePicture}}" ng-if="photoContent.profilePicture !== '' " />

	    		<!-- Else display blank profile pic -->
	    		<img style="width:250px; height:300px" ng-src="../../img/blank-profile.png" ng-if="photoContent.profilePicture === '' " />

	    		<br/ >

	    		<p>
	    			<p class="subdued">x Photos Taken</p>
	    		</p>
			</div>
		  	
		  	<div class="item tabs tabs-secondary tabs-icon-left">
		  		<a class="tab-item" href="" ng-click="addUser()">
		  			<i class="icon ion-person-add"></i>
		  			Add
		  		</a>
		  	</div>
		</div>

  	</ion-content>
</ion-modal-view>