<ion-view class="backgroundGradient">
  <ion-nav-bar class="barOrange">
    <ion-nav-buttons side="left">
      <button class="button button-large button-icon icon ion-arrow-left-a" style="color: white" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-title class="vantageHeader">
        Attendees
    </ion-nav-title>
  </ion-nav-bar>

   <div class="bar bar-subheader" ng-if="isHost()" style="background: none">
    <div class="button-bar">
      <a class="button button-positive icon ion-android-person-add" href="" ng-click="inviteFriends()">
        Invite Friends
      </a>
      <a class="button button-calm icon ion-android-mail" href="" ng-click="inviteByEmail()">
        Invite By Email
      </a>
    </div>
  </div>

  <ion-content ng-class="{'has-subheader': isHost(), 'has-header': isHost() === false}">
    
    <div class="list">
      
      <a class="item item-thumbnail-left" href="" ng-click="viewProfile(host)" style="background: none; border: none">
        <img src={{getProfilePicture(host.profilePicture)}} >      
        <h2 style="font-family: 'CenturyGothic', sans-serif; color: white"> 
          <i class="icon ion-ios-star positive"></i>
          {{host.displayName}}
        </h2>
        <p style="font-family: 'CenturyGothic', sans-serif; color: white">
          <i class="icon ion-email"></i>
          {{host.email}}
        </p>
      </a>
      
      <a class="item item-thumbnail-left" href="" ng-click="viewProfile(user)" ng-repeat="user in usersData" style="background: none; border: none">
        <img src={{getProfilePicture(user.profilePicture)}} >
        <h2 style="font-family: 'CenturyGothic', sans-serif; color: white">{{user.displayName}}</h2>
        <p style="font-family: 'CenturyGothic', sans-serif; color: white">
          <i class="icon ion-email"></i>
          {{user.email}}
        </p>
      </a>
  </ion-content>
</ion-view>
