<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Change Profile Picture</h1>
        <button class="button button-clear button-primary" ng-click="modalChooseProfilePic.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="button-bar">
            <button class="button icon-left ion-camera" ng-click="chooseProfilePicture(0)">
                From Camera
            </button>
            <button class="button icon-left ion-images" ng-click="chooseProfilePicture(1)">     
                From Gallery
            </button>
        </div>
    </ion-content>
</ion-modal-view>