<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Register New Account</h1>
        <button class="button button-clear button-primary" ng-click="modalRegister.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input ng-model="email" type="email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input ng-model="password" type="password" placeholder="Password">
            </label>
            <label class="item item-input">
                <input ng-model="confirmPassword" type="password" placeholder="Confirm Password">
            </label>
            <button class="button button-full button-positive" ng-click="register(email, password, confirmPassword)">Next</button>
        </div>
    </ion-content>
</ion-modal-view>