<ion-view view-title="Photo Content">
  <ion-content>

	<div class="list card">

		  <div class="item item-avatar">
		    <input ng-model="displayName" type="text" placeholder="Display Name">
		  </div>

		  <div class="item item-image">
		  	<br/>
		    <div class="item energized">
		    	Choose Profile Picture (Optional)
		    	<br />
		    	<img style="width:250px; height:300px" ng-src="./././img/blank-profile.png" ng-if="profilePic === '' ">
		    	<img style="width:250px; height:300px" ng-src="{{profilePic}}" ng-if="profilePic !== '' ">
		    </div>
		    <div class="button-bar">
	            <button class="button button-clear icon ion-camera" ng-click="chooseProfilePicture(0)">
	            </button>
	            <button class="button button-clear icon ion-images" ng-click="chooseProfilePicture(1)">     
	            </button>
        	</div>
		  </div>
	</div>

    <button class="button button-full button-positive" ng-click="submit(displayName)">Done!</button>

  </ion-content>
</ion-view>