<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Change Email</h1>
        <button class="button button-clear button-primary" ng-click="modalEmail.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input ng-model="oldEmail" type="text" placeholder="Old Email">
            </label>
            <label class="item item-input">
                <input ng-model="newEmail" type="text" placeholder="New Email">
            </label>
            <label class="item item-input">
                <input ng-model="password" type="password" placeholder="Password">
            </label>
            <button class="button button-full button-positive" ng-click="changeEmail(oldEmail, newEmail, password)">Change!</button>
        </div>
    </ion-content>
</ion-modal-view>