<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Change Password</h1>
        <button class="button button-clear button-primary" ng-click="modalPassword.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input ng-model="email" type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input ng-model="oldPassword" type="password" placeholder="Old Password">
            </label>
            <label class="item item-input">
                <input ng-model="newPassword" type="password" placeholder="New Password">
            </label>
            <label class="item item-input">
                <input ng-model="confirmNewPassword" type="password" placeholder="Confirm New Password">
            </label>
            <button class="button button-full button-positive" ng-click="changePassword(email, oldPassword, newPassword, confirmNewPassword)">Change!</button>
        </div>
    </ion-content>
</ion-modal-view>